@model KronoMata.Web.Models.JobConfigViewModel 

<div class="row">
    <div class="col-sm-12">
        <div class="form-check">
            @{
                var isChecked = Model.ConfigurationValue.Value == "True";
            }
            <input type="checkbox" class="form-check-input" name="config-@Model.ConfigurationValue.Id" id="config-@Model.ConfigurationValue.Id" checked="@isChecked">
            <label class="form-check-label" for="scheduledjob-isEnabled">@Model.PluginConfiguration.Name</label>
        </div>
    </div>
</div>