@model KronoMata.Web.Models.JobHistoryViewModel 

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                        <li class="nav-item">
                            <a onclick="setGridStatusFilter(-1);" class="nav-link active" id="tab-status-all" data-toggle="pill" href="#" role="tab" aria-controls="" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="setGridStatusFilter(2);" class="nav-link" id="tab-status-error" data-toggle="pill" href="#" role="tab" aria-controls="" aria-selected="false"><i class="fa fa-exclamation-circle status-icon-fail"></i>Error</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="setGridStatusFilter(1);" class="nav-link" id="tab-status-skipped" data-toggle="pill" href="#" role="tab" aria-controls="" aria-selected="false"><i class="fa fa-pause-circle status-icon-skip"></i>Skipped</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="setGridStatusFilter(0);" class="nav-link" id="tab-status-success" data-toggle="pill" href="#" role="tab" aria-controls="" aria-selected="false"><i class="fa fa-check-circle status-icon-success"></i>Success</a>
                        </li>
                    </ul>
                </div>                
                <div class="card-body">
                    <div id="history-grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link rel="stylesheet" href="~/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="~/plugins/jsgrid/jsgrid-theme.min.css">
    <link rel="stylesheet" href="~/plugins/jquery-ui/jquery-ui.css" />
}

@section scripts {
    <script src="~/plugins/jsgrid/jsgrid.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(function () {
            customizeGridLoadParams();
            populateJobHistoryGrid();
        });

        // shenanigans with the load params.
        function customizeGridLoadParams() {
            jsGrid.loadStrategies.PageLoadingStrategy.prototype.loadParams = function () {
                var grid = this._grid;
                return {
                    pageIndex: grid.option("pageIndex"),
                    pageSize: grid.option("pageSize"),
                    status: getSelectedStatus()
                };
            }
        }

        var _status = -1;

        function getSelectedStatus() {
            return _status;
        }

        function setGridStatusFilter(status) {
            _status = status;
            $("#history-grid").jsGrid("reset");
            $('#history-grid').jsGrid("loadData");
        }

        function populateJobHistoryGrid() {
            var db = GetData('@Url.Action("GetLastJobHistoryRelatedData", "ChartData")')[0];
            var jobs = db.data.value.jobs;
            var hosts = db.data.value.hosts;

            $('#history-grid').jsGrid({
                height: "750px",
                width: "100%",
                sorting: false,
                paging: true,
                pageLoading: true,
                pageSize: 50,
                autoload: true,
                filtering: true,

                rowClick: function (args) {
                    showDetailsDialog(args.item);
                },

                controller: {
                    loadData: function (filter) {
                        return $.ajax({
                            cache: false,
                            type: "GET",
                            url: "@Url.Action("GetJobHistoryData", "JobHistory")",
                            data: filter,
                            dataType: "json"
                        });
                    },

                    insertItem: function (item) {
                    },

                    updateItem: function (item) {
                    },

                    deleteItem: function (item) {
                    }
                },
                fields: [
                    { name: "runTime", title: "Run Time", type: "text", width: 40, filtering: false,
                        itemTemplate: function(value, item) {
                            let icon = 'fa-check-circle';
                            let iconClass = 'status-icon-success';

                            switch (item.status) {
                                case 1:
                                    icon = 'fa-pause-circle';
                                    iconClass = 'status-icon-skip';
                                    break;
                                case 2:
                                    icon = 'fa-exclamation-circle';
                                    iconClass = 'status-icon-fail';
                                    break;
                            }

                            let date = new Date(value).toLocaleString('en-US');

                            return '<i class="fa ' + icon + ' ' + iconClass + '"></i>' + date;
                        }
                    },
                    { name: "duration", title: "Duration", type: "text", width: 40, filtering: false },
                    {
                        name: "scheduledJobId", title: "Job", type: "select", items: jobs, valueField: "id", textField: "name", width: 40, headercss: "text-start", 
                        filterTemplate: function () {
                            var $select = jsGrid.fields.select.prototype.filterTemplate.call(this);
                            $select.prepend($("<option>").prop("value", "-1").text("(All)"));
                            $select.val('-1');
                            return $select;

                        }
                    },
                    {
                        name: "hostId", title: "Host", type: "select", items: hosts, valueField: "id", textField: "machineName", width: 40,
                        filterTemplate: function () {
                            var $select = jsGrid.fields.select.prototype.filterTemplate.call(this);
                            $select.prepend($("<option>").prop("value", "-1").text("(All)"));
                            $select.val('-1');
                            return $select;

                        }
                    },
                    { name: "message", title: "Message", type: "text", filtering: false },
                    { name: "detail", title: "Detail", type: "text", filtering: false, visible: false }
                ]
            });
        }
    </script>

    <partial name="~/Views/Partials/_JobHistoryDetailDialog.cshtml" />
}
