html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* info box*/
.bg-info-lt {
    color: #7C9D96;
    background-color: #A1CCD1;
}

/* jsGrid styling and overrides */
.status-icon-fail {
    color: rgba(255, 99, 132, 1.0) !important;
    padding-right: 5px;
}

.status-icon-skip {
    color: rgba(255, 205, 86, 1.0) !important;
    padding-right: 5px;
}

.status-icon-success {
    color: rgba(75, 192, 192, 1.0) !important;
    padding-right: 5px;
}

.row-status-fail td {
    color: rgba(255, 99, 132, 1.0) !important;
    font-weight: bold;
}

.row-status-skip td {
    /*border-color: rgba(255, 205, 86, 1.0) !important;*/
    color: rgba(255, 205, 86, 1.0) !important;
    font-weight: bold;
    font-style: italic;
}

.row-status-success td {
    /*border-color: rgba(75, 192, 192, 1.0) !important;*/
}

.row-system-configuration td {
    background-color: rgba(240, 247, 252, .8) !important;
}

.compact-jsgrid-cell {
    border: #f1f1f1 1px solid;
    font-family: "Roboto";
    font-size: 0.9em !important;
}

.grid-button + .grid-button {
    margin-left: 5px;
}

.grid-button:hover {
    opacity: .5;
    transition: opacity 200ms linear;
}

.grid-button {
    border-style: none;
    background: none;
    background-color: transparent;
}

.grid-button-edit::before {
    content: '\f044'; /* fa-pen-to-square */
}

.grid-button-delete::before {
    content: '\f1f8'; /* fa-trash */
}

.grid-button-save::before {
    content: '\f00c'; /* fa-check */
}

.grid-button-insert {
    font-size: 24px;
}

.grid-button-insert::before {
    content: '\2b'; /* fa-plus */
}

.grid-button-cancel::before {
    content: '\f00d'; /* fa-xmark */
}
